html{
    background-color:#333;
    padding-top: 10px;
}

body{
    background: white;
    width: 20.5cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

#app-icon{
    position: absolute;
    width: 25px;
    top: 15px;
    margin-left: 5px;
}
hr{
    margin-top: 0;
    margin-bottom: 10px;
}
/* .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 30%;
    max-width: 30%;
} */

#top-bar{
    flex: 0 0 72%;
}

.section-title{margin-bottom: 3px;font-size: 0.9rem;}
.section-subtitle{font-size: 13px;font-weight: 500;margin-bottom: 2px;}
.section-period{
    /* font-weight: 500; */
}
.section-description{
    font-size: 11px;
}


@media only screen and (max-width: 600px) {
    html{
        padding: 0px;
    }
    body {
        height: auto;
        width: auto;
        margin: 0;
    }
    #cover-container .image{
        width: 180px;
        margin: 0 auto;
    }
    #top-bar{
        flex: 0 0 100%;
    }
    #skills-list{
        width: 97%;
    }
    #right-side{
        padding-right: 1.5rem!important;
    }
  }
  @page {
    size: letter;
    margin: 0;
  }
  @media print {
    :root{
        --primary-gradient: #3eb17d;
        --secondary-gradient: ##386a68;
    }
    html, body {
      width: 210mm;
      height: 280mm;
      background: white;
      box-shadow: unset !important;
      margin: 0 !important;
      padding:0 !important;
    }
    #cover-container .image {
      height: 220px !important;
      print-color-adjust: exact;
    }
    #left-side{
      margin-top:2.80rem ;
    }
    #top-bar, #skill-list li{
        print-color-adjust: exact;
    }
  }